<div id="signup-box" class="signup-box visible widget-box no-border">
  <div class="widget-body">
    <div class="widget-main">
      <h4 class="header green lighter bigger">
        <i class="fa fa-group green"></i>
        Registrar un nuevo usuario
      </h4>

      <div class="space-6"></div>
      <p> Ingrese sus datos: </p>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :nombre, required: true, :class => "span12", :placeholder => "Nombre" %>
            </span>
          </label>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :apellido, required: true, :class => "span12", :placeholder => "Apellido" %>
            </span>
          </label>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :email, required: true, autofocus: true , :class => "span12", :placeholder => "Correo electr칩nico" , :validates => true %>
            </span>
          </label>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :password, required: true, :type=>"password", :class => "span12", :placeholder => "Contrase침a" %>

            </span>
          </label>
          <label>
            <span class="block input-icon input-icon-right">
              <%= f.text_field :password_confirmation, required: true, :type=>"password", :class => "span12", :placeholder => "Confirmar contrase침a" %>
            </span>
          </label>

          <div class="space-24"></div>

          <div class="clearfix">
            <%= submit_tag "Registrarse", :class => "width-50 pull-right btn btn-small btn-success"%>
          </div>
        </fieldset>
      <% end %>
    </div>

    <div class="toolbar center">
      <a href=<%= new_usuario_session_path %> class="back-to-login-link">
        <i class="fa fa-arrow-left"></i>
        Volver a Iniciar Sesi칩n
      </a>
    </div>
  </div><!--/widget-body-->
</div><!--/signup-box-->
