<div class="page-header position-relative">
    <h1>
        Productos
        <small>
            <i class="fa fa-angle-double-right"></i>
            Lista de todos los productos
        </small>
    </h1>
</div><!--/.page-header-->

<% if current_usuario.tipo_usuario != 0 %>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <h3 class="header smaller lighter green">Filtros de Productos por Código</h3>
    </div>
    <%= form_for_filterrific @filterrific,:html => {:class => "new_filterrific form-inline"}  do |f| %>
      <%# campo de busqueda%>
      <div class="row-fluid">
        <div class="span3">
          <div class="row-fluid">
            <label for="id-date-picker-1">Seleccionar código:</label>
          </div>
          <div class="control-group">
            <div class="row-fluid input-append">
              <%= f.text_field(:with_codigo, :id => "form-field-1", :placeholder => "Código de barra", :autocomplete => "off") %>
              <span class="add-on">
                <i class="fa fa-barcode"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <%= render_filterrific_spinner %>
    <% end %>

    <div class="row-fluid">
      <h3 class="header smaller lighter green">Lista de Productos</h3>
    </div>
    <!--PAGE CONTENT BEGINS-->
    <div class="pull-right">
      <%= link_to new_producto_path, :class => "btn btn-primary" do %>
        <i class="fa fa-plus"></i>
        Nuevo Producto
      <% end %>
    </div>
    <br>
    <div class="row-fluid">
      <div class="span12">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Valor</th>
              <th>Tipo producto</th>
              <th>Cantidad de productos</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @productos.each do |producto| %>
              <tr>
                <td><%= producto.codigo %></td>
                <td><%= producto.nombre %></td>
                <td><%= producto.valor %></td>
                <td><%= TipoProducto.find(producto.tipo_producto_id).nombre %></td>
                <td><%= producto.stock %></td>
                <td>
                  <%= link_to producto, :class => "btn btn-mini btn-success", :rel => "tooltip", :title => "Ver detalles" do%>
                    <i class="fa fa-search bigger-120"></i>
                  <% end %>

                  <%= link_to edit_producto_path(producto), :class => "btn btn-mini btn-info", :rel => "tooltip", :title => "Editar" do%>
                    <i class="fa fa-edit bigger-120"></i>
                  <% end %>

                  <%= link_to producto, method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar el producto?'}, :class => "btn btn-mini btn-danger", :rel => "tooltip", :title => "Eliminar" do %>
                    <i class="fa fa-trash bigger-120"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% end %>


